body {
    background-color: white;
    text-align: center;
    padding : 25px;
}

#d1 {
    padding-top: 20px;
}
#d5 {
    padding-bottom: 20px;
}

div {
    margin: 20px;
}

#z1, #z2, #z3, #z4, #z5 {
    background-color: white;
    opacity: 0.8;
    padding : 25px;
    line-height: 25px;
}

input {
	/* Other statements removed for brevity */
	line-height: 17px;
}

main {
    background-color: black;
    opacity: 0.8;
}
